@charset "UTF-8";
@import url("index.css");

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    letter-spacing: var(--letter-spacing);
    margin: var(--margin-text);
}
nav > a{
    text-decoration: none;
    color: white;
    font: 1.2em var(--title);
    padding: var(--padding-nav);
    border-bottom: var(--line) var(--lilac);
}
nav > a:hover{
    color: var(--lilac);
    transition-duration: var(--timer);
}
a.current{
    color: var(--lilac);
}
.button{ 
    background-color: var(--black);
    border-radius: var(--round);
    padding: var(--padding);
    text-align: center;
    align-content: center;
    display: inline-block;
    margin: var(--margin-menu);
    transition-duration: var(--timer);
    cursor: pointer;
}
.button-socials{
    border: none;
    border-radius: var(--round);
}
.button-socials:hover{
    background-color: var(--lilac);
}
#socials{
    padding: var(--padding);
    width: 100%;
    position: absolute;
    bottom: 0;
}
h4{
    align-self: center;
    font: 1.5em var(--title);
    margin: var(--margin-menu);
    letter-spacing: var(--letter-spacing);
}

@media (max-width: 768px){
     h4{
        font: 1em var(--title)
    }
    #footmark {
        font: var(--footmark-responsive)
    }
}
