@charset "UTF-8";

.button
{ 
    background-color: #1F2232;
    margin: auto;
    border: none;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin: 3px 5px;
    transition-duration: 0.5s;
    cursor: pointer;
}
.button-menu
{
    color: #9370DB;
}
.button-menu:hover
{
    background-color: #B393E8;
    color: white;
}
.button-socials
{
    border: none;
    border-radius: 32px;
}
.button-socials:hover
{
    background-color: #B393E8;
}
